<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
	<head>
		<title>Your category</title>
		<script th:include = "fragments/header :: headerScripts" th:remove = "tag"></script>
		<link rel="stylesheet" href="/fontawesome-free-5.15.1-web/css/all.css"/>
		<script th:inline="javascript">
			$(function(){
			    var budgetId = /*[[${group.budget.id}]]*/0;
			    var categoryId = /*[[${category.id}]]*/0;
			    var groupdId = /*[[${group.id}]]*/0;
			    
				$("tr[id*='transaction-']").click(function(){
				   var transactionId = $(this).prop('id').split('-')[1];
				   window.location.href = '/budgets/' + budgetId + '/groups/' + groupdId + '/categories/' + categoryId + '/transactions/' + transactionId;
				});
				
				$('#addTransaction').click(function(){
				    $("#addTxnForm").submit();
				});
			});
		</script>
	</head>
	<body>
		<div class="card">
		    <div class="card-header"> 
		        <div class="row">
			        <nav class = "col-10 col-md-11" aria-label="breadcrumb">
					    <ol class="breadcrumb h2">
					        <li class="breadcrumb-item"><a href="/budgets">Budgets</a></li>
					        <li class="breadcrumb-item"> <a th:href ="@{/budgets/{budgetId} (budgetId = ${group.budget.id})}" th:text = "${group.budget.name}"></a></li>
					        <li class="breadcrumb-item"><a th:href ="@{/budgets/{budgetId}/groups/{groupId} (budgetId = ${group.budget.id}, groupId = ${group.id})}" th:text = "${#strings.isEmpty(group.name) ? 'New Group' : group.name}"></a></li>					        
					        <li class="breadcrumb-item active" aria-current="page" th:text = "${category.name}"></li>
					    </ol>
					</nav>
					<div class = "col-2 col-md-1">
						<form id = "addTxnForm" method = "post" 
						      th:action = "@{/budgets/{budgetId}/groups/{groupId}/categories/{categoryId}/transactions (budgetId = ${group.budget.id}, groupId = ${group.id}, categoryId = ${category.id})}">
				        	<i id = "addTransaction" class="fas fa-plus-circle fa-2x"></i>
						</form>
			        </div>
		        </div>
		    </div>		    
		    <div class="card-body">
		        <form action = "" method = "post">
			    	<div class="row mb-3">
				    	<label for="name" class="col-sm-2 col-form-label form-control-lg">Name</label>
					    <div class="col-sm-10">
					      	<input type="text" class="form-control form-control-lg" th:field="${category.name}" placeholder = "category name"/>
					    </div>
	  				</div>
	  				
	  				<div class="row mb-3">
				    	<label for="budget" class="col-sm-2 col-form-label form-control-lg">Budget</label>
					    <div class="col-sm-10">
					      	<input type="number" step = ".01" class="form-control form-control-lg" th:field="${category.budget}" placeholder = "Budget amount in dollars $"/>
					    </div>
	  				</div>
	  				
	  				<button class = "btn btn-primary btn-lg">Save</button>
		        </form>
		    </div>
		</div>
		
		<div class="card">
			<div class="card-header h3">Transactions</div>
			<div class="card-body">
			    <table class="table table-striped">
				    <thead>
					    <tr>
					      <th scope="col">Date</th>
					      <th scope="col">Total</th>
					      <th scope="col">Notes</th>
					    </tr>
				    </thead>
				  	<tbody>				    	
				    	<tr th:each="transaction: ${category.transactions}" style="cursor:pointer;" th:id="|transaction-${transaction.id}|">
					      <td th:text="${#temporals.format(transaction.date, 'MMM-dd')}"></td>
					      <td th:text="${#numbers.formatCurrency(transaction.total)}"></td>
					      <td th:text="${transaction.note}"></td>
				    	</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>